<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725434711469-8abbh437s5mg705ql7htd929dpfgqoer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725434711469-8abbh437s5mg705ql7htd929dpfgqoer</string>
	<key>API_KEY</key>
	<string>AIzaSyCsubIEz0ICvFJ-ind7bxugsUsknzeOLtk</string>
	<key>GCM_SENDER_ID</key>
	<string>725434711469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.maxprotection.securityNews</string>
	<key>PROJECT_ID</key>
	<string>maxprotection-bc1f4</string>
	<key>STORAGE_BUCKET</key>
	<string>maxprotection-bc1f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725434711469:ios:82bd29e7f617b7b08eb524</string>
</dict>
</plist>